extend layout

block content
	section.point_breadcrumbs
		div.crumbs.container
			ul
				li
					a(href="/") Home
				li
					a(href="/regions/#{region.name.replace(/\s+/g, '-')}") #{region.name}
				li
					a(href="#") #{city.name}
	section.region_display.container
		h3 #{city.name}
		div.region_list
			div.region_points.two-thirds.column
				if points.length == 0
					p There are not points for this city yet :(
				else
					ul.points_list
						for point in points
							li
								a(href="/point/#{point.id}")
									div.point_item
										div.point_item_image
											img(src="#{point.images.mainImage}").u-max-full-width
										div.point_item_info
											h2 #{point.name}
											h3 #{point.address.street}
											h3 #{point.address.city}, #{point.address.state}
											ul.point_item_metadata
												li
													i.fa.fa-comment 
													| #{point.comments.length}
												li
													i.fa.fa-camera 
													| #{point.images.userImages.length}
			div.region_map.one-third.column
				p Maybe a Map goes here