extend layout

block searchbar
	//- no search bar

block content
	section.point_breadcrumbs
		div.crumbs.container
			ul
				li
					a(href="/") Home
				li
					a(href="/regions") #{region.name}
				li
					a(href="/regions/#{region.name.replace(/\s+/g, '-')}/#{city.name.replace(/\s+/g, '-')}") #{city.name}
				li
					a(href="#") #{point.name}
	div.addphoto_modal_wrapper.modal_full_wrapper
		div.addphoto_modal.modal.modal_full
			span.upload_text Upload a Photo to: 
				span #{point.name}
			if (user)
				form(action="/add-photo/#{point.id}", method="POST", enctype="multipart/form-data")
					div.row
						input#point_image.upload-image.u-full-width(type="file", name="point_image", accept="image/*", required)
					input#point_submit.u-full-width(type="submit", name="point_submit", value="Save Photo")
			else
				div.modal_disabled
				form(action="/add-photo/#{point.id}", method="POST", enctype="multipart/form-data")
					div.row
						input#point_image.upload-image.u-full-width(type="file", name="point_image", accept="image/*", required)
					input#point_submit.u-full-width(type="submit", name="point_submit", value="Save Photo")
	div.addcomment_modal_wrapper.modal_full_wrapper
		div.addcomment_modal.modal.modal_full
			span.upload_text Add comment to: 
				span #{point.name}
			if (user)
				form(action="/comment/#{point.id}", method="POST")
					div.row
						textarea#point_comment.u-full-width(type="text", placeholder="Enter comment here...", name="point_comment")
					input#point_submit.u-full-width(type="submit", name="point_submit", value="Save Comment")
			else
				div.modal_disabled
				form(action="/comment/#{point.id}", method="POST")
					div.row
						textarea#point_comment.u-full-width(type="text", placeholder="Enter comment here...", name="point_comment")
					input#point_submit.u-full-width(type="submit", name="point_submit", value="Save Comment")
	section#point_display.container.row
		h2.point_name #{point.name}
		section#urlcopy 
			input(type="text", value="#{url}", class="url", readonly, autofocus)
		section#point_visual.five.columns
			div.point-grid.ri-grid
				img(src="/images/loading.gif").ri-loading-image
				ul
					for pointImg in point.images.userImages
						li
							a(href="#")
								img(src="/images/uploads/#{pointImg}")
		section#point_data.seven.columns.container
			div.point_social
				ul
					li
						a(href="/favorite/#{point.id}")
							if(haspoint)
								span.icon-heart
							else
								span.icon-heart-o
							| Favorite
					li
						a(href="#").add_photo
							span.icon-camera
							| Photo
					li
						a(href="#").add_comment
							span.icon-comment
							| Comment
					li
						a(href="#", class="share")
							span.icon-share
							| Share
			div.point_map
				iframe(width="100%", height="100%", frameborder="0", style="border:0", src="https://www.google.com/maps/embed/v1/place?q=#{point.name}%20#{point.address.street}%20#{point.address.city}%20#{point.address.state}%20#{point.address.zip}&key=AIzaSyC_NFXVm3SFHd0zodubgqvghOLepWrmEz0")

			div.point_address
				p
					span.point_address_street #{point.address.street}
					span.point_address_city #{point.address.city}, #{point.address.state} #{point.address.zip}
		section#point_comments.container.seven.columns
			h3 Comments
			ul
				if (point.comments == '')
					li 
						p.no_comments 
							| There are currently no comments for this point :(
							br 
							| You can be the 
							a(href="/comment/#{point.id}") first
							| !
				for comment in point.comments
					li
						span.author-pic 
							if (comment.userImage === undefined)
								img(src="/images/profile.png")
							else
								img(src="#{comment.userImage}")
						span.author #{comment.userName}
						span.comment "#{comment.message}"
		
