extend layout

block searchbar
	//- no search bar

block content
	section.point_breadcrumbs
		div.crumbs.container
			ul
				li
					a(href="/") Home
				li
					a(href="/regions") #{region.name}
				li
					a(href="/regions/#{region.name.replace(/\s+/g, '-')}/#{city.name.replace(/\s+/g, '-')}") #{city.name}
				li
					a(href="#") #{point.name}
	section#point_display.container.row
		h2.point_name #{point.name}
		section#point_visual.five.columns
			div.point-grid.ri-grid
				img(src="/images/loading.gif").ri-loading-image
				ul
					for pointImg in point.images.userImages
						li
							a(href="#")
								img(src="#{pointImg}")
		section#point_data.seven.columns.container
			div.point_social
				ul
					li
						a(href="/favorite/#{point.id}")
							i.fa.fa-heart-o
							| Favorite
					li
						a(href="/add-photo/#{point.id}")
							i.fa.fa-camera
							| Photo
					li
						a(href="/comment/#{point.id}")
							i.fa.fa-edit
							| Comment
					li
						a(href="/share/#{point.id}")
							i.fa.fa-share-square-o
							| Share
			div.point_map
				iframe(width="100%", height="100%", frameborder="0", style="border:0", src="https://www.google.com/maps/embed/v1/place?q=#{point.address.street}%20#{point.address.city}%20#{point.address.state}%20#{point.address.zip}&key=AIzaSyC_NFXVm3SFHd0zodubgqvghOLepWrmEz0")
				
			div.point_address
				p
					span.point_address_street #{point.address.street}
					span.point_address_city #{point.address.city}, #{point.address.state} #{point.address.zip}
		section#point_comments.container.seven.columns
			h3 Comments
			ul
				for comment in point.comments
					li
						span.author-pic 
							img(src="#{comment.userImage}")
						span.author #{comment.userName}
						span.comment "#{comment.message}"
					//- li 
					//- 	span.author-pic
					//- 		img(src="http://ohiotheatretoledo.org/wp-content/themes/ohiotheatre/img/profile_placeholder.png")
					//- 	span.author John S.
					//- 	span.comment "Most photogenic tree in all the land. I love coming here with my girlfriend and taking pictures in the springtime!"
		
