extend layout

block searchbar
	//- no searchbar

block content
	div#regions_nav_wrap.container
		ul#regions_nav
			for region in regions
				if selectedRegion !== undefined
					if region.id == selectedRegion.id
						li.three.columns.city.active
							a(href="#", data-show-region="#{region.id}") #{region.name}
					else
						li.three.columns.city
							a(href="#", data-show-region="#{region.id}") #{region.name}
				else
						li.three.columns.city
							a(href="#", data-show-region="#{region.id}") #{region.name}

	div.container
		div#featured_cities.featured_regions
			for region in regions
				div(id= region.id).featured_region
					for city, index in cities
						if city.region == region.id
							div(id= city.name.toLowerCase().replace(/\s+/g, '')).four.columns.city
								a(href="/regions/#{region.name.replace(/\s+/g, '-')}/#{city.name.replace(/\s+/g, '-')}")
									span #{city.name}
							//- if index % 3 == 0
								
							//- else
							//- 	div(id= city.name.toLowerCase().replace(/\s+/g, '')).four.columns.city
							//- 			a(href="/region")
							//- 				span #{city.name}