extend layout

block searchbar
	include ./includes/searchbar.jade

block content
	section#search_data.container
		div#popular_points.one-half.column.search_meta
			div.section_title
				h2 Popular Points
			ul.points_list
				if (points)
					if (!points.length == 0)
						for point in points
							li
								a(href="/point/#{point.id}")
									div.point_item
										div.point_item_image
											img(src="#{point.images.mainImage}").u-max-full-width
										div.point_item_info
											h2 #{point.name}
											h3 #{point.address.street}
											h3 #{point.address.city}, #{point.address.state}
											ul.point_item_metadata
												li
													i.fa.fa-comment 
													| #{point.comments.length}
												li
													i.fa.fa-camera 
													| #{point.images.userImages.length}
		div#search_history.one-half.column.search_meta
			div.section_title
				h2 Search History
				button.delete
					span
						i.icon-del
						| Clear
			ul.search_list
				li
					a(href="/search_results") boston
				li
					a(href="/search_results") new york city
