extend layout

block content
	section#settings.container
		h2 Settings
		if (user)
			ul
				li
					strong Full Name: 
					span #{user.fullName}
				if(!user.oauthID)
					li
						strong Username: 
						span #{user.username}
				li
					strong E-mail: 
					span #{user.email}
				div.row
					li.six.columns
						strong Profile Image:
						img(src="#{user.picture}").settings_profile_image
					li.six.columns
						strong Cover Photo:
						img(src="#{user.coverPhoto}").settings_cover_photo